body {
    padding-top: 50px;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
@media screen and (max-width: 768px) {
    body{
        padding-top: 200px;
    }
}
.navbar {
    background-color: #b94a48;
    border-radius: 0;
}
.navbar .nav > li > a, .navbar .nav > li > a .caret {
    color: #e6cac8;
    border-top-color: #e6cac8 !important;
    border-bottom-color: #e6cac8 !important;
}
.navbar a.navbar-brand {
    color: #fff;
    padding: 10px;
}
.pagination {
    margin-top: 0;
}
.navbar .nav > li > a.active, .navbar .nav > li > a:hover, .navbar .nav > li > a:hover .caret,
.navbar .nav > li > a:focus, .navbar .nav > li > a:focus .caret,
.navbar a.navbar-brand:focus,
.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
    color: #fff;
    background: #993c3a;
    border-top-color: #fff !important;
    border-bottom-color: #fff !important;
}
.dropdown-menu > li > a {
    white-space: nowrap;
}

code.nocode {
  display: inline-block;
  background-color: #99c2ff;
  border: 1px solid #7699d1;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #223f7a;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #e1e1e8;
  font-size: inherit;
}
.popover {
  z-index: 1200;
  border: 2px solid black;
  max-width: 600px!important;
  color: black;
  border-radius: 0;
}
.popover code, code {
    padding: 2px 4px;
    color: #d14;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
}
.popover .arrow:after {
    border-left-color: #000 !important;
}



.bs-masthead {
  position: relative;
  margin-bottom: 20px;
  padding: 30px 15px;
  text-align: center;
  border-bottom: 1px solid #e6cac8;
}
.bs-masthead h1 {
  font-size: 50px;
  line-height: 1;
}
.bs-masthead .bs-social {
  margin-top: 80px;
}

/* Download button */
.bs-masthead .btn {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 18px 24px;
  font-size: 21px;
  color: #b94a48; /* redeclare to override the `.jumbotron a` */
  background-color: #fff;
  border-color: #e5e5e5;
}
.bs-masthead .btn:hover,
.bs-masthead .btn:active {
  color: #fff; /* redeclare to override the `.jumbotron a` */
  background-color: #b94a48;
  border-color: #b94a48;
}



/* Footer
-------------------------------------------------- */

.bs-footer {
  padding-top: 40px;
  padding-bottom: 30px;
  margin-top: 100px;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}
.bs-footer p {
  margin-bottom: 0;
  color: #777;
}
.footer-links {
  margin: 10px 0;
}
.footer-links li {
  display: inline;
  padding: 0 2px;
}
.footer-links li:first-child {
  padding-left: 0;
}

/* Social proof buttons from GitHub & Twitter */
.bs-social {
  margin-bottom: 20px;
}
.bs-social-buttons {
  display: inline-block;
  margin: 0;
  list-style: none;
}
.bs-social-buttons li {
  display: inline-block;
  line-height: 1;
}
.bs-social-buttons li + li {
  margin-left: 15px;
}
.bs-social-buttons .twitter-follow-button {
  width: 225px !important;
}
.bs-social-buttons .twitter-share-button {
  width: 98px !important;
}


.loading-container {
    position: relative;
}
.loading-container .loading:before, .loading-container .loading:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 50px;
    min-width: 50px;
}
.loading-container .loading:before {
    background-color: white;
    opacity: 0.5;
}
.loading-container .loading:after {
    background-image: url('../img/preloader.gif');
    background-position: center center;
    background-repeat: no-repeat;
}