<div class="page-header">
<h1>HTML Markup</h1>
</div>

<div class="row">

    <div class="col col-md-12">
<pre data-prettycode>
&lt;table ng-table="" [class="ng-table-responsive"]>
    &lt;tbody ng-repeat="group in $groups">
    &lt;/tbody>
&lt;/table>
</pre>
        <h3>Arguments</h3>
        <table class="variables-matrix input-arguments">
            <thead>
            <tr>
                <th>Param</th>
                <th>Type</th>
                <th>Details</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>ngTable</td>
                <td>
                    <a href="" class="label label-primary">ngTableParams</a>
                </td>
                <td>
                    <p>Assignable angular expression to data-bind to.</p>
                </td>
            </tr>
            <tr>
                <td>
                    class
                    <div><em>(optional)</em></div>
                </td>
                <td>
                    <a href="" class="label label-danger">string</a>
                </td>
                <td>
                    <p><code><span class="pln">ng-table-responsive</span></code> - make table responsive</p>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>