<div class="page-header">
<h1>Full-feature demo</h1>
</div>


<script data-run-script>
    window.DemoCtrl = function($scope, IssueService, ngTableParams) {

        $scope.tableParams = new ngTableParams({
            page: 1,            // show first page
            count: 10           // count per page
        }, {
            getData: function($defer, params) {

                IssueService.query({
                    page: params.page(),
                    per_page: params.count(),

                    state: 'all',
                    username: 'esvit',
                    repo: 'ng-table'
                }, function(data, headersGetter) {
                    var headers = headersGetter(),
                        pages = headers['link'].split(', '),
                        totalPages = 1;

                    // get total pages count
                    angular.forEach(pages, function(page) {
                        var parts = page.split(' rel=');
                        if (parts[1] == '"last"') {
                            totalPages = parseInt(parts[0].match(/page=(\d+)/)[1], 10);
                        }
                        if (totalPages == 1 && parts[1] == '"prev"') { // if last page
                            totalPages = parseInt(parts[0].match(/page=(\d+)/)[1], 10) + 1;
                        }
                    });
                    params.total(totalPages * params.count());
                    $defer.resolve(data);
                });
            }
        });
    }
</script>

<div data-ng-controller="DemoCtrl">

    <table ng-table="tableParams" class="table">
        <tr ng-repeat="issue in $data">
            <td data-title="'#'" sorting="'number'">
                <a target="_blank" ng-href="{{issue.html_url}}">{{issue.number}}</a>
            </td>
            <td data-title="'Theme'">{{issue.title}}</td>
            <td data-title="'Opened by '">
                <a target="_blank" ng-href="{{issue.user.url}}">
                    <nobr><img width="16" height="16" ng-src="{{issue.user.avatar_url}}"/>
                    {{issue.user.login}}</nobr>
                </a>
            </td>
            <td data-title="'Updated'"><nobr>{{issue.updated_at}}</nobr></td>
        </tr>
    </table>

</div>