<div class="page-header">
    <h1>AJAX Data Loading</h1>
</div>

<script data-run-script>
    window.DemoCtrl = function($scope, $timeout, $resource, ngTableParams) {
        var Api = $resource('/data');

        $scope.tableParams = new ngTableParams({
            page: 1,            // show first page
            count: 10,          // count per page
            sorting: {
                name: 'asc'     // initial sorting
            }
        }, {
            total: 0,           // length of data
            getData: function($defer, params) {
                // ajax request to api
                Api.get(params.url(), function(data) {
                    $timeout(function() {
                        // update table params
                        params.total(data.total);
                        // set new data
                        $defer.resolve(data.result);
                    }, 500);
                });
            }
        });
    }
</script>

<button ng-click="tableParams.reload()" class="btn pull-right">Reload</button>
<button ng-click="tableParams.sorting({})" class="btn pull-right">Clear sorting</button>
<div class="clearfix"></div>

<div loading-container="tableParams.settings().$loading">
    <table ng-table="tableParams" show-filter="true" class="table">
        <tr ng-repeat="user in $data">
            <td data-title="'Name'" filter="{ 'name': 'text' }" sortable="'name'">
                {{user.name}}
                {{$loading}}
            </td>
            <td data-title="'Age'" sortable="'age'">
                {{user.age}}
            </td>
        </tr>
    </table>
</div>