<div class="page-header">
    <h1>Intro</h1>
</div>


<script data-run-script>
    window.DemoCtrl = function($scope, ngTableParams) {
        $scope.users = [
            {name: "Moroni", age: 50},
            {name: "Tiancum", age: 43},
            {name: "Jacob", age: 27},
            {name: "Nephi", age: 29},
            {name: "Enos", age: 34}
        ];
    }
</script>

<div class="row">

    <div class="col col-lg-6">
        <div style="margin-top: 20px">
            <h3>Steps for getting started (example on right)</h3>
            <ol>
                <li>Add references to <a href="http://angularjs.org/" target="_blank">AngularJS</a>.</li>
                <li>Add references to <a href="https://github.com/esvit/ng-table/">ngTable</a>'s javascript and css files.</li>
                <li>Where you declare your app module, add ngTable:<br>
                    <code>angular.module('myApp',['ngTable']);</code>
                </li>
                <li>In your html file within the controller where you plan to use ng-table, add:<br>
                    <code>&lt;table ng-table&gt;...&lt;/table&gt;</code></li>
                <li>We are going to define a basic style for table in style.css:
<pre style="margin-top:10px" data-prettycode pretty-lang="css">.ng-table {
    border: 1px solid #000;
}
</pre>
                </li>
                <li>In your javascript file within the controller where you plan to use<br>ng-table, lets add data that our table will use:<br> </li>
<pre style="margin-top:10px" data-prettycode pretty-lang="js">$scope.users = [{name: "Moroni", age: 50},
                {name: "Tiancum", age: 43},
                {name: "Jacob", age: 27},
                {name: "Nephi", age: 29},
                {name: "Enos", age: 34}];
</pre>
                <li>Now create your table rows:<br>
                    <code>ng-repeat="user in users"</code>
                </li>
            </ol>
        </div>
    </div>
    <div class="col col-lg-6">

        <h3>Example</h3>
        <div data-ng-controller="DemoCtrl">

            <table ng-table class="table">
                <tr ng-repeat="user in users">
                    <td data-title="'Name'">{{user.name}}</td>
                    <td data-title="'Age'">{{user.age}}</td>
                </tr>
            </table>
        </div>

    </div>

</div>