<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <!-- todo: bundle this -->
    <title>Sample app (Typescript+Webpack) | ng-table</title>
    <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
    <% } %>
</head>

<body class="site-background container-fluid" ng-app="demo-app" ng-strict-di>

    <app-root></app-root>

    <% for (var chunk in htmlWebpackPlugin.files.chunks) { if (htmlWebpackPlugin.files.chunks[chunk].css.length === 0) {%>
    <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% }} %>
</body>

</html>