.temp
.idea
node_modules
out
npm-debug.*
index.js
index.d.ts
index.js.map
src/**/*.js
src/**/*.js.map
src/**/*.d.ts
e2e/**/*.js
e2e/**/*.js.map
e2e/**/*.d.ts
!e2e/**/global.d.ts
!e2e/protractor*.js
!demo-apps/es5/index.js
!demo-apps/es6-systemjs/index.js
test/specs/**/*.d.ts
test/specs/**/*.js.map
test/specs/**/*.js
test/util/**/*.d.ts
test/util/**/*.js.map
test/util/**/*.js
bundles
build
build-stats.json
api-docs