.vscode/
.idea/
.temp/
# redundant webpack build artifacts produced by ExtractTextPlugin
bundles/styles.*
demo-apps/
demo-site/
docs/
e2e/
examples-old/
out/
scripts/
*.ts
!*.d.ts
test/
.editorconfig
*.yml
*.json
*.conf.js
*.config.js