<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>ngTable: Simple and easy work with table on AngularJS (pagination, sorting, filtering)</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width">
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-18454333-4', 'esvit.github.io');
          ga('send', 'pageview');
        </script>
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/prettify.css">
        <link rel="stylesheet" href="css/ng-table.css">
        <link rel="stylesheet" href="css/docs.css">
        <link rel="stylesheet" href="css/angular-social.css">
        <script src="js/jquery-1.9.1.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/angular-resource.min.js"></script>
        <script src="js/angular-mocks.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/ng-table.js?v=0.2.1"></script>
        <script src="js/disqus.js"></script>
        <script src="js/angular-social.js"></script>
        <script src="js/google-code-prettify/prettify.js"></script>
    </head>
    <body ng-app="app" ng-controller="IndexCtrl">
        <div class="navbar navbar-fixed navbar-fixed-top">
          <div class="fill">
            <div class="container">
              <a href="#!/" class="navbar-brand">ngTable</a>
              <ul class="nav">
                <li><a href="#!/">Getting Started</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Examples <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                    <li><a href="#!/demo5/">Saving params in url</a></li>
                    <li><a href="#!/demo6/">AJAX Data Loading</a></li>
                    <li class="nav-header">Pagination</li>
                    <li><a href="#!/demo1/">Simple table pagination</a></li>
                    <li><a href="#!/demo7/">Hidden pagination</a></li>
                    <li class="nav-header">Sorting</li>
                    <li><a href="#!/demo3/">Simple table sorting</a></li>
                    <li class="nav-header">Filtering</li>
                    <li><a href="#!/demo4/">Table with filters</a></li>
                    <li class="nav-header">Template</li>
                    <li><a href="#!/demo2/">Pagination template</a></li>
                    <li><a href="#!/demo8/">Cell Template</a></li>
                    <li><a href="#!/demo9/">Row Template</a></li>
                    <li><a href="#!/demo10/">Table with checkboxes</a></li>
                    <li><a href="#!/demo11/">Custom filters</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                        Need Help? <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="https://github.com/esvit/ng-table/issues?sort=updated&amp;state=open">Want a new feature?</a></li>
                        <li><a href="https://github.com/esvit/ng-table/issues?labels=bug&amp;sort=updated&amp;state=open">Demo page broken or missing demos?</a></li>
                    </ul>
                </li>
            </ul>
            </div>
          </div>
        </div>
        <div class="bs-masthead" ng-show="showHeader">

            <h1>ngTable</h1>
            <p class="lead">Angular Table directive</p>
            <p>
                <a href="https://github.com/esvit/ng-table/archive/master.zip" class="btn btn-large" onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Download', 'Download']);">Download ngTable</a>
                <a target="_blank" href="https://github.com/esvit/ng-table" class="btn btn-large">Project GitHub</a>
            </p>

            <p>
                    
                <ul ng-social-buttons
                     data-url="'http://esvit.github.io/ng-table/'"
                     data-title="'ngTable: cool directive for simple and easy work with table on AngularJS'"
                     data-description="'Angular Table directive'">
                    <li class="ng-social-facebook">Facebook</li>
                    <li class="ng-social-google-plus">Google+</li>
                    <li class="ng-social-twitter">Twitter</li>
                    <li class="ng-social-pinterest">Pinterest</li>
                    <li class="ng-social-github" user="esvit" repository="ng-table">GitHub</li>
                    <li class="ng-social-github-forks" user="esvit" repository="ng-table">Forks</li>
                </ul>
            </p>
            <p><a href="https://github.com/esvit/angular-social" target="_blank">&uarr; Another my project Angular Share buttons &uarr;</a></p>
        </div>
        <div class="container" id="ng-view" data-ng-view></div>
        <footer class="bs-footer">
          <div class="bs-social">
          <ul class="bs-social-buttons">
            <li>
                <iframe width="100px" scrolling="0" height="20px" frameborder="0" allowtransparency="true" src="http://ghbtns.com/github-btn.html?user=esvit&amp;repo=ng-table&amp;type=watch&amp;count=true" class="github-btn"></iframe>
            </li>
            <li>
                <iframe width="102px" scrolling="0" height="20px" frameborder="0" allowtransparency="true" src="http://ghbtns.com/github-btn.html?user=esvit&amp;repo=ng-table&amp;type=fork&amp;count=true" class="github-btn"></iframe>
            </li>
            <li class="tweet-btn">
                <iframe allowtransparency="true" frameborder="0" scrolling="no" src="https://platform.twitter.com/widgets/tweet_button.1368146021.html#_=1369553836396&amp;count=horizontal&amp;dnt=true&amp;id=twitter-widget-92&amp;lang=ru&amp;original_referer=https%3A%2F%2Ftwitter.com%2Fabout%2Fresources%2Fbuttons%23tweet&amp;size=m&amp;text=ngTable%3A%20Table%20directive%20for%20AngularJS&amp;url=https%3A%2F%2Fgithub.com%2Fesvit%2Fng-table%2F" class="twitter-share-button twitter-count-horizontal" title="Twitter Tweet Button" data-twttr-rendered="true" style="width: 140px; height: 20px;"></iframe>
            </li>
          </ul>
        </div>


          <p>Made with love in <strong>Ukraine</strong>. On any questions or propositions write me a letter <a href="mailto:esvit666@gmail.com">esvit666@gmail.com</a></p>
          <p>Code licensed under <a href="http://creativecommons.org/licenses/BSD/" target="_blank">New BSD License</a>.</p>

          <ul class="footer-links">
            <!--li><a href="http://blog.getbootstrap.com">Blog</a></li>
            <li class="muted">·</li-->
            <li><a target="_blank" href="http://github.com/esvit/ng-table">GitHub project</a></li>
            <li class="muted">·</li>
            <li><a target="_blank" href="http://github.com/esvit/ng-table/issues?state=open">Issues</a></li>
          </ul>
        </footer>
        <script type="text/ng-template" id="ng-table/pager.html">
        <div><ul class="pagination ng-cloak"><li ng-class="{'disabled': !page.active}" ng-repeat="page in pages" ng-switch="page.type"><a ng-switch-when="prev" ng-click="goToPage(page.number)" href="">«</a><a ng-switch-when="first" ng-click="goToPage(page.number)" href="">{{page.number}}</a><a ng-switch-when="page" ng-click="goToPage(page.number)" href="">{{page.number}}</a><a ng-switch-when="more" ng-click="goToPage(page.number)" href="">…</a><a ng-switch-when="last" ng-click="goToPage(page.number)" href="">{{page.number}}</a><a ng-switch-when="next" ng-click="goToPage(page.number)" href="">»</a></li></ul><div ng-show="params.counts.length" class="btn-group pull-right"><button ng-repeat="count in params.counts" type="button" ng-class="{'active':params.count == count}" ng-click="changeCount(count)" class="btn btn-default btn-small">{{count}}</button></div></div>
        </script>
        <script>
        function isNumber(n) {
            return !isNaN(parseFloat(n)) && isFinite(n);
        }
        var app = angular.module('app', ['ngTable', 'ngResource', 'ngMockE2E', 'disqus', 'ngSocial']).
            run(function($httpBackend, $filter, $log, ngTableParams) {
                // emulation of api server
                $httpBackend.whenGET(/data.*/).respond(function(method, url, data, headers) {
                    var query = url.split('?')[1],
                        requestParams = {};

                    $log.log('Ajax request: ', url);

                    var vars = query.split('&');
                    for (var i = 0; i < vars.length; i++) {
                        var pair = vars[i].split('=');
                        requestParams[decodeURIComponent(pair[0])] = decodeURIComponent(pair[1]);
                    }
                    // parse url params
                    for (var key in requestParams) {
                        if (key.indexOf('[') >= 0) {
                            var params = key.split(/\[(.*)\]/), value = requestParams[key], lastKey = '';

                            angular.forEach(params.reverse(), function(name) {
                                if (name != '') {
                                    var v = value;
                                    value = {};
                                    value[lastKey = name] = isNumber(v) ? parseFloat(v) : v;
                                }
                            });
                            requestParams[lastKey] = angular.extend(requestParams[lastKey] || {}, value[lastKey]);
                        } else {
                            requestParams[key] = isNumber(requestParams[key]) ? parseFloat(requestParams[key]) : requestParams[key];
                        }
                    }

                    data = [{name: "Moroni", age: 50},
                            {name: "Tiancum", age: 43},
                            {name: "Jacob", age: 27},
                            {name: "Nephi", age: 29},
                            {name: "Enos", age: 34},
                            {name: "Tiancum", age: 43},
                            {name: "Jacob", age: 27},
                            {name: "Nephi", age: 29},
                            {name: "Enos", age: 34},
                            {name: "Tiancum", age: 43},
                            {name: "Jacob", age: 27},
                            {name: "Nephi", age: 29},
                            {name: "Enos", age: 34},
                            {name: "Tiancum", age: 43},
                            {name: "Jacob", age: 27},
                            {name: "Nephi", age: 29},
                            {name: "Enos", age: 34}];

                    var params = new ngTableParams(requestParams);
                    data = params.filter ? $filter('filter')(data, params.filter) : data;
                    data = params.sorting ? $filter('orderBy')(data, params.orderBy()) : data;

                    var total = data.length;
                    data = data.slice((params.page - 1) * params.count, params.page * params.count);

                    return [200, {
                        result: data,
                        total: total
                    }];
                });
                $httpBackend.whenGET(/.*/).passThrough();
                $httpBackend.whenJSONP(/.*/).passThrough();
            }).
            config(function($interpolateProvider, $routeProvider, $locationProvider, $provide){

                $locationProvider.html5Mode(false).hashPrefix('!');
                $routeProvider
                    .when('/',      { showHeader: true, templateUrl: 'views/get_started.html' })
                    .when('/demo1', { templateUrl: 'views/demo1.html' })
                    .when('/demo2', { templateUrl: 'views/demo2.html' })
                    .when('/demo3', { templateUrl: 'views/demo3.html' })
                    .when('/demo4', { templateUrl: 'views/demo4.html' })
                    .when('/demo5', { templateUrl: 'views/demo5.html' })
                    .when('/demo6', { templateUrl: 'views/demo6.html' })
                    .when('/demo7', { templateUrl: 'views/demo7.html' })
                    .when('/demo8', { templateUrl: 'views/demo8.html' })
                    .when('/demo9', { templateUrl: 'views/demo9.html' })
                    .when('/demo10', { templateUrl: 'views/demo10.html' })
                    .when('/demo11', { templateUrl: 'views/demo11.html' })
                    .otherwise({ redirectTo: '/' })
                ;

                var pulseElements = $(),
                    pulseColor = {r:0xE6, g:0xF0, b: 0xFF},
                    baseColor = {r:0x99, g:0xc2, b: 0xFF},
                    pulseDuration = 1000,
                    pulseDelay = 15000;

                function hex(number) {
                  return ('0' + Number(number).toString(16)).slice(-2);
                }

                jQuery.fn.pulse = function () {
                  pulseElements = pulseElements.add(this);
                };
                var lastPulse;

                function tick() {
                  var duration = new Date().getTime() - lastPulse,
                      index = duration * Math.PI / pulseDuration ,
                      level = Math.pow(Math.sin(index), 10),
                      color = {
                        r: Math.round(pulseColor.r * level + baseColor.r * (1 - level)),
                        g: Math.round(pulseColor.g * level + baseColor.g * (1 - level)),
                        b: Math.round(pulseColor.b * level + baseColor.b * (1 - level))
                      },
                      style = '#' + hex(color.r) + hex(color.g) + hex(color.b);

                  pulseElements.css('backgroundColor', style);
                  if (duration > pulseDuration) {
                    setTimeout(function() {
                      lastPulse = new Date().getTime();
                      tick();
                    }, pulseDelay);
                  } else {
                    setTimeout(tick, 50);
                  }
                }

                $provide.value('startPulse', function() {
                   setTimeout(function() {
                     lastPulse = new Date().getTime();
                     tick();
                   }, 2000);
                });
            })
            .directive('loadingContainer', function () {
                return {
                    restrict: 'A',
                    scope: false,
                    link: function(scope, element, attrs) {
                        var loadingLayer = $('<div class="loading"></div>').appendTo(element);
                        $(element).addClass('loading-container');
                        scope.$watch(attrs.loadingContainer, function(value) {
                            loadingLayer.toggle(value);
                        });
                    }
                };
            })
            .directive('prettyprint', function() {
                return {restrict: 'C', link: function(scope, element) {
                    var code = prettyPrintOne(element.html(), undefined, true);
                    element.addClass('linenums').html(code);
                    element.find('code').popover({
                        html: true,
                        trigger: 'hover',
                        placement: 'left'
                    }).pulse();
                }};
            })
            .controller('IndexCtrl', function($scope, $route, startPulse) {
                $scope.users = [{name: "Moroni", age: 50},
                    {name: "Tiancum", age: 43},
                    {name: "Jacob", age: 27},
                    {name: "Nephi", age: 29},
                    {name: "Enos", age: 34}];

                $scope.$on('$routeChangeSuccess', function () {
                    $scope.showHeader = $route.current.$$route.showHeader;
                });
                startPulse();
            });
        </script>
    </body>
</html>