<h1>Row Template</h1>

<div class="row">
<div class="col col-lg-6">

    <button ng-click="tableParams.sorting = {}" class="btn btn-default pull-right">Clear sorting</button>

    <table ng-table="tableParams" class="table">
        <tr ng-repeat="user in users" ng-class="{ 'emphasis': user.money > 500 }">
            <td data-title="'Name'">
                {{user.name}}
            </td>
            <td data-title="'Age'">
                {{user.age}}
            </td>
            <td data-title="'Money'" sortable="money">
                {{user.money}}
            </td>
        </tr>
    </table>

    <style>
    .ng-table tr.emphasis td {
        background-color: #DDD;
        font-weight: bold;
    }
    </style>
</div>
<div class="col col-lg-6">

<h3>Html</h3>
<pre class="prettyprint nocode">
&lt;table ng-table="tableParams" class="table"&gt;
&lt;tr ng-repeat="user in users" <code class="nocode">ng-class="{ 'emphasis': user.money > 500 }"</code>&gt;
    &lt;td data-title="'Name'"&gt;
        {{user.name}}
    &lt;/td&gt;
    &lt;td data-title="'Age'"&gt;
        {{user.age}}
    &lt;/td&gt;
    &lt;td data-title="'Money'" sortable="money"&gt;
        {{user.money}}
    &lt;/td&gt;
&lt;/tr&gt;
&lt;/table&gt;
</pre>

<h3>CSS</h3>
<pre class="prettyprint">
.ng-table tr.emphasis td {
    background-color: #DDD;
    font-weight: bold;
}
</pre>

</div>
</div>
<disqus-component thread-id="9"></disqus-component>