<h1>Saving params in url</h1>

<div class="row">
<div class="col col-lg-6">

        <table ng-table="tableParams" class="table">
            <tr ng-repeat="user in users">
                <td data-title="'Name'" sortable="name">
                    {{user.name}}
                </td>
                <td data-title="'Age'" sortable="age">
                    {{user.age}}
                </td>
            </tr>
        </table>

</div>
<div class="col col-lg-6">

<h3>Javascript</h3>
<pre class="prettyprint nocode">
function DemoCtrl($scope, <code class="nocode">$location</code>, $filter, ngTableParams) {
    var data = [{name: "Moroni", age: 50},
                // more data...
                {name: "Enos", age: 34}];

    $scope.tableParams = new ngTableParams(
        // merge default params with url
        angular.extend({
            page: 1,            // show first page
            total: data.length, // length of data
            count: 10,          // count per page
            sorting: {
                name: 'asc'     // initial sorting
            }
        },
        <code class="nocode">$location.search()</code>)
    );
    
    $scope.$watch('tableParams', function(params) {
        <code class="nocode">$location.search(params.url());</code> // put params in url

        // use build-in angular filter
        var orderedData = params.sorting ? 
                            $filter('orderBy')(data, params.orderBy()) :
                            data;

        $scope.users = orderedData.slice((params.page - 1) * params.count, params.page * params.count);
    }, true);
}
</pre>

<h3>Html</h3>
<pre class="prettyprint nocode">
&lt;table ng-table="tableParams" class="table"&gt;
&lt;tr ng-repeat="user in users"&gt;
    &lt;td data-title="'Name'" sortable="name"&gt;
        {{user.name}}
    &lt;/td&gt;
    &lt;td data-title="'Age'" sortable="age"&gt;
        {{user.age}}
    &lt;/td&gt;
&lt;/tr&gt;
&lt;/table&gt;
</pre>

</div>
</div>
<disqus-component thread-id="5"></disqus-component>