<h1>Table with hidden pagination</h1>

<div class="row">
<div class="col col-lg-6" ng-controller="DemoCtrl">

    <button ng-click="tableParams.sorting = {}" class="btn btn-default pull-right">Clear sorting</button>
    <p><strong>Sorting:</strong> {{tableParams.sorting|json}}


        <table ng-table="tableParams" class="table">
            <tr ng-repeat="user in users">
                <td data-title="'Name'" sortable="name">
                    {{user.name}}
                </td>
                <td data-title="'Age'" sortable="age">
                    {{user.age}}
                </td>
            </tr>
        </table>

        <script>
        function DemoCtrl($scope, $filter, ngTableParams) {
            var data = [{name: "Moroni", age: 50},
                        {name: "Tiancum", age: 43},
                        {name: "Jacob", age: 27},
                        {name: "Nephi", age: 29},
                        {name: "Enos", age: 34},
                        {name: "Tiancum", age: 43},
                        {name: "Jacob", age: 27},
                        {name: "Nephi", age: 29},
                        {name: "Enos", age: 34},
                        {name: "Tiancum", age: 43},
                        {name: "Jacob", age: 27},
                        {name: "Nephi", age: 29},
                        {name: "Enos", age: 34},
                        {name: "Tiancum", age: 43},
                        {name: "Jacob", age: 27},
                        {name: "Nephi", age: 29},
                        {name: "Enos", age: 34}];

            $scope.tableParams = new ngTableParams({
                page: 1,   // show first page
                total: 1,  // value less than count hide pagination
                count: 5,  // count per page
                counts: [] // hide page counts control
            });
            
            $scope.$watch('tableParams', function(params) {
                // use build-in angular filter
                var orderedData = params.sorting ? 
                                    $filter('orderBy')(data, params.orderBy()) :
                                    data;
 
                $scope.users = orderedData.slice((params.page - 1) * params.count, params.page * params.count);
            }, true);
        }
        </script>

</div>
<div class="col col-lg-6">

<h3>Javascript</h3>
<pre class="prettyprint nocode">
function DemoCtrl($scope, $filter, ngTableParams) {
    var data = [{name: "Moroni", age: 50},
                // more data...
                {name: "Enos", age: 34}];

    $scope.tableParams = new ngTableParams({
        page: 1,   // show first page
        <code class="nocode">total: 1</code>,  // value less than count hide pagination
        count: 5,  // count per page
        <code class="nocode">counts: []</code> // hide page counts control
    });

    // watch for changes of parameters
    $scope.$watch('tableParams', function(params) {
        // use build-in angular filter
        var orderedData = params.sorting ? 
                        $filter('orderBy')(data, params.orderBy()) :
                        data;

        // slice array data on pages
        $scope.users = orderedData.slice(
            (params.page - 1) * params.count,
            params.page * params.count
        );
    }, true);
}
</pre>

</div>
</div>
<disqus-component thread-id="7"></disqus-component>