<h1>Table with sorting</h1>

<div class="row">
<div class="col-span-6" ng-controller="DemoCtrl">

    <button ng-click="tableParams.sorting = {}" class="btn pull-right">Clear sorting</button>
    <p><strong>Sorting:</strong> {[tableParams.sorting|json]}


        <table ng-table="tableParams" class="table">
            <tr ng-repeat="user in users">
                <td title="Name" sortable="name">
                    {[user.name]}
                </td>
                <td title="Age" sortable="age">
                    {[user.age]}
                </td>
            </tr>
        </table>

        <script>
        function DemoCtrl($scope, $filter, ngTableParams) {
            var data = [{name: "Moroni", age: 50},
                        {name: "Tiancum", age: 43},
                        {name: "Jacob", age: 27},
                        {name: "Nephi", age: 29},
                        {name: "Enos", age: 34},
                        {name: "Tiancum", age: 43},
                        {name: "Jacob", age: 27},
                        {name: "Nephi", age: 29},
                        {name: "Enos", age: 34},
                        {name: "Tiancum", age: 43},
                        {name: "Jacob", age: 27},
                        {name: "Nephi", age: 29},
                        {name: "Enos", age: 34},
                        {name: "Tiancum", age: 43},
                        {name: "Jacob", age: 27},
                        {name: "Nephi", age: 29},
                        {name: "Enos", age: 34}];

            $scope.tableParams = new ngTableParams({
                page: 1,            // show first page
                total: data.length, // length of data
                count: 10,          // count per page
                sorting: {
                    name: 'asc'     // initial sorting
                }
            });
            
            $scope.$watch('tableParams', function(params) {
                // use build-in angular filter
                var orderedData = params.sorting ? 
                                    $filter('orderBy')(data, params.orderBy()) :
                                    data;
 
                $scope.users = orderedData.slice((params.page - 1) * params.count, params.page * params.count);
            }, true);
        }
        </script>

</div>
<div class="col-span-6">

<h3>Html</h3>
<pre class="prettyprint nocode">
&lt;table ng-table="tableParams" class="table"&gt;
&lt;tr ng-repeat="user in users"&gt;
    &lt;td title="Name" <code class="nocode">sortable="name"</code>&gt;
        {[user.name]}
    &lt;/td&gt;
    &lt;td title="Age" <code class="nocode">sortable="age"</code>&gt;
        {[user.age]}
    &lt;/td&gt;
&lt;/tr&gt;
&lt;/table&gt;
</pre>

<h3>Javascript</h3>
<pre class="prettyprint nocode">
function DemoCtrl($scope, <code class="nocode">$filter</code>, ngTableParams) {
    var data = [{name: "Moroni", age: 50},
                // more data...
                {name: "Enos", age: 34}];

    $scope.tableParams = new ngTableParams({
        page: 1,            // show first page
        total: data.length, // length of data
        count: 10,          // count per page
        sorting: {
            name: 'asc'     // initial sorting
        }
    });

    // watch for changes of parameters
    $scope.$watch('tableParams', function(params) {
        // use build-in angular filter
        var orderedData = params.sorting ? 
                        <code class="nocode">$filter('orderBy')(data, params.orderBy())</code> :
                        data;

        // slice array data on pages
        $scope.users = orderedData.slice(
            (params.page - 1) * params.count,
            params.page * params.count
        );
    }, true);
}
</pre>

</div>
</div>