<h1>Cell Template</h1>

<div class="row">
<div class="col col-lg-6">

    <button ng-click="tableParams.sorting = {}" class="btn btn-default pull-right">Clear sorting</button>

    <table ng-table="tableParams" class="table">
        <tr ng-repeat="user in users">
            <td data-title="'Name'">
                {{user.name}}
            </td>
            <td data-title="'Age'">
                {{user.age}}
            </td>
            <td data-title="'Money'" sortable="money">
                <span ng-class="{ 'plus': user.money >= 0,'minus': user.money < 0 }">{{user.money}}</span>
            </td>
        </tr>
    </table>

    <style>
    .ng-table .plus, .ng-table .minus {
        font-weight: bold;
        padding-left: 18px;
        position: relative;
    }
    .ng-table .plus:before, .ng-table .minus:before {
        content:"";
        border-width: 4px;
        border-style:solid;
        left: 8px;
        top: 50%;
        position: absolute;
        margin-top: -2px;
    }
    .ng-table .plus {
        color: green;
    }
    .ng-table .plus:before {
        border-color: green;
        border-top:none;
        border-left:4px solid transparent;
        border-right:4px solid transparent;
    }
    .ng-table .minus {
        color: red;
    }
    .ng-table .minus:before {
        border-color: red;
        border-bottom:none;
        border-left:4px solid transparent;
        border-right:4px solid transparent;
    }
    </style>
</div>
<div class="col col-lg-6">

<h3>Html</h3>
<pre class="prettyprint nocode">
&lt;table ng-table="tableParams" class="table"&gt;
&lt;tr ng-repeat="user in users"&gt;
    &lt;td data-title="'Name'"&gt;
        {{user.name}}
    &lt;/td&gt;
    &lt;td data-title="'Age'"&gt;
        {{user.age}}
    &lt;/td&gt;
    &lt;td data-title="'Money'" sortable="money"&gt;
        &lt;span <code class="nocode">ng-class="{ 'plus': user.money >= 0,'minus': user.money &lt; 0 }"</code>&gt;{{user.money}}&lt;/span&gt;
    &lt;/td&gt;
&lt;/tr&gt;
&lt;/table&gt;
</pre>

<h3>CSS</h3>
<pre class="prettyprint">
.ng-table .plus, .ng-table .minus {
    font-weight: bold;
    padding-left: 18px;
    position: relative;
}
.ng-table .plus:before, .ng-table .minus:before {
    content:"";
    border-width: 4px;
    border-style:solid;
    left: 8px;
    top: 50%;
    position: absolute;
    margin-top: -2px;
}
.ng-table .plus {
    color: green;
}
.ng-table .plus:before {
    border-color: green;
    border-top:none;
    border-left:4px solid transparent;
    border-right:4px solid transparent;
}
.ng-table .minus {
    color: red;
}
.ng-table .minus:before {
    border-color: red;
    border-bottom:none;
    border-left:4px solid transparent;
    border-right:4px solid transparent;
}
</pre>

</div>
</div>
<disqus-component thread-id="8"></disqus-component>