<h1>Custom filters</h1>

<div class="row">
<div class="col col-lg-6">

    <button ng-click="tableParams.sorting = {}" class="btn btn-default pull-right">Clear sorting</button>

    <table ng-table="tableParams" show-filter="true" class="table">
        <tr ng-repeat="user in users" ng-class="{ 'emphasis': user.money > 500 }">
            <td data-title="'Name'" filter="{ 'name': 'select' }" filter-data="names($column)">
                {{user.name}}
            </td>
            <td data-title="'Age'" filter="{ 'age': 'age' }">
                {{user.age}}
            </td>
            <td data-title="'Money'" sortable="money">
                {{user.money}}
            </td>
        </tr>
    </table>    
    <script type="text/ng-template" id="ng-table/filters/age.html">
        <input type="radio" ng-model="params.filter[name]" name="filter-age" value="" /> None
        <br />
        <input type="radio" ng-model="params.filter[name]" name="filter-age" value="50" /> 50 years
    </script>
    <style>
    .ng-table tr.emphasis td {
        background-color: #DDD;
        font-weight: bold;
    }
    </style>
</div>
<div class="col col-lg-6">

<h3>Html</h3>
<pre class="prettyprint nocode">
&lt;table ng-table="tableParams" show-filter="true" class="table"&gt;
    &lt;tr ng-repeat="user in users"&gt;
        &lt;td data-title="'Name'" filter="{ 'name': 'select' }" <code class="nocode">filter-data="names($column)"</code>&gt;
            {{user.name}}
        &lt;/td&gt;
        &lt;td data-title="'Age'" filter="{ 'age': '<code class="nocode">age</code>' }"&gt;
            {{user.age}}
        &lt;/td&gt;
        &lt;td data-title="'Money'" filter="{ 'action': 'button' }" sortable="money"&gt;
            {{user.money}}
        &lt;/td&gt;
    &lt;/tr&gt;
&lt;/table&gt;    
&lt;script type="text/ng-template" id="ng-table/filters/<code class="nocode">age</code>.html"&gt;
    &lt;input type="radio" ng-model="params.filter[name]" name="filter-age" value="" /&gt; None
    &lt;br /&gt;
    &lt;input type="radio" ng-model="params.filter[name]" name="filter-age" value="50" /&gt; 50 years
&lt;/script&gt;
</pre>

<h3>Javascript:</h3>
<pre class="prettyprint">
$scope.tableParams = new ngTableParams({
    <code class="nocode">$liveFiltering: true</code>, // live data update
    page: 1,            // show first page
    total: data.length, // length of data
    count: 10           // count per page
});

$scope.<code class="nocode">names</code> = function(column) {
    var def = $q.defer(),
        arr = [],
        names = [];
    angular.forEach(data, function(item){
        if ($.inArray(item.name, arr) === -1) {
            arr.push(item.name);
            names.push({
                'id': item.name,
                'title': item.name
            });
        }
    });
    def.resolve(names);
    return def.promise;
};
</pre>

</div>
</div>
<disqus-component thread-id="11"></disqus-component>