<h1>Row Template</h1>

<div class="row">
<div class="col col-lg-6" ng-controller="DemoCtrl">

    <button ng-click="tableParams.sorting = {}" class="btn btn-default pull-right">Clear sorting</button>

    <table ng-table="tableParams" class="table">
        <tr ng-repeat="user in users" ng-class="{ 'emphasis': user.money > 500 }">
            <td title="Name">
                {{user.name}}
            </td>
            <td title="Age">
                {{user.age}}
            </td>
            <td title="Money" sortable="money">
                {{user.money}}
            </td>
        </tr>
    </table>

    <script>
    function DemoCtrl($scope, $filter, ngTableParams) {
        var data = [{name: "Moroni", age: 50, money: -10},
                    {name: "Tiancum", age: 43,money: 120},
                    {name: "Jacob", age: 27, money: 5.5},
                    {name: "Nephi", age: 29,money: -54},
                    {name: "Enos", age: 34,money: 110},
                    {name: "Tiancum", age: 43, money: 1000},
                    {name: "Jacob", age: 27,money: -201},
                    {name: "Nephi", age: 29, money: 100},
                    {name: "Enos", age: 34, money: -52.5},
                    {name: "Tiancum", age: 43, money: 52.1},
                    {name: "Jacob", age: 27, money: 110},
                    {name: "Nephi", age: 29, money: -55},
                    {name: "Enos", age: 34, money: 551},
                    {name: "Tiancum", age: 43, money: -1410},
                    {name: "Jacob", age: 27, money: 410},
                    {name: "Nephi", age: 29, money: 100},
                    {name: "Enos", age: 34, money: -100}];

        $scope.tableParams = new ngTableParams({
            page: 1,            // show first page
            total: data.length, // length of data
            count: 10           // count per page
        });
        
        $scope.$watch('tableParams', function(params) {
            // use build-in angular filter
            var orderedData = params.sorting ? 
                                $filter('orderBy')(data, params.orderBy()) :
                                data;

            $scope.users = orderedData.slice((params.page - 1) * params.count, params.page * params.count);
        }, true);
    }
    </script>
    <style>
    .ng-table tr.emphasis td {
        background-color: #DDD;
        font-weight: bold;
    }
    </style>
</div>
<div class="col col-lg-6">

<h3>Html</h3>
<pre class="prettyprint nocode">
&lt;table ng-table="tableParams" class="table"&gt;
&lt;tr ng-repeat="user in users" <code class="nocode">ng-class="{ 'emphasis': user.money > 500 }"</code>&gt;
    &lt;td title="Name"&gt;
        {{user.name}}
    &lt;/td&gt;
    &lt;td title="Age"&gt;
        {{user.age}}
    &lt;/td&gt;
    &lt;td title="Money" sortable="money"&gt;
        {{user.money}}
    &lt;/td&gt;
&lt;/tr&gt;
&lt;/table&gt;
</pre>

<h3>CSS</h3>
<pre class="prettyprint">
.ng-table tr.emphasis td {
    background-color: #DDD;
    font-weight: bold;
}
</pre>

</div>
</div>