<column-picker columns="$ctrl.exportedColumns"></column-picker>
<table ng-table="$ctrl.tableParams" show-filter="true" class="table table-condensed table-bordered table-striped" ng-table-columns-binding="$ctrl.exportedColumns">
    <tr ng-repeat="user in $data">
        <td data-title="'Name'" header-class="'text-left'" sortable="'name'" filter="{ 'name': 'text' }" ng-if="true">
            {{user.name}}
        </td>
        <td data-title="'Age'" header-class="'text-right'" sortable="'age'" filter="{ 'age': 'number' }" ng-if="true">
            {{user.age}}
        </td>
        <td data-title="'Money'" header-class="'text-right'" sortable="'money'" filter="{ 'money': 'number' }" ng-if="true">
            {{user.money}}
        </td>
    </tr>
</table>