<nav class="ng-cloak ng-table-pager" ng-if="params.data.length" role="navigation" aria-label="{{params.accessibilityOptions('pagerTitle')}}">
    <div ng-if=" params.settings().counts.length " class="ng-table-counts btn-group pull-right ">
        <button ng-repeat="count in params.settings().counts " type="button " ng-class="{ 'active':params.count()==count} " ng-click="params.count(count) "
            class="btn btn-default ">
            <span ng-bind="count "></span>
        </button>
    </div>
    <ul ng-if="pages.length " class="pagination ng-table-pagination ">
        <li ng-class="{ 'disabled': !page.active && !page.current, 'active': page.current} " ng-repeat="page in pages" ng-switch="page.type ">
            <span ng-switch-when="prev ">
                <a ng-if="page.active || page.current" ng-click="params.page(page.number) " href=" " aria-label="{{params.accessibilityOptions('prev')}} ">&laquo;</a>
                <span ng-if="!page.active && !page.current" aria-label="{{params.accessibilityOptions('prev')}} " aria-disabled="true">&laquo;</span>
            </span>

            <span ng-switch-when="first">
                <span ng-if="page.current " aria-label="{{params.accessibilityOptions('current')}}" aria-disabled="true">{{page.number}}</span>
                <a ng-click="params.page(page.number) " href=" " ng-if="!page.current" aria-label="{{params.accessibilityOptions('pageNumPrefix')}} {{page.number}}">{{page.number}}</a>
            </span>

            <span ng-switch-when="page">
                <span ng-if="page.current " aria-label="{{params.accessibilityOptions('current')}}" aria-disabled="true">{{page.number}}</span>
                <a ng-click="params.page(page.number) " href=" " ng-if="!page.current" aria-label="{{params.accessibilityOptions('pageNumPrefix')}} {{page.number}}">{{page.number}}</a>
            </span>

            <span ng-switch-when="more">
                <a ng-click="params.page(page.number) " href=" " aria-label="{{params.accessibilityOptions('more')}} ">&#8230;</a>
            </span>

            <span ng-switch-when="last ">
                <span ng-if="page.current " aria-label="{{params.accessibilityOptions('current')}}" aria-disabled="true">{{page.number}}</span>
                <a href=" " ng-if="!page.current" ng-click="params.page(page.number) " aria-label="{{params.accessibilityOptions('pageNumPrefix')}} {{page.number}}">{{page.number}}</a>
            </span>

            <span ng-switch-when="next">
                <a ng-if="page.active || page.current" ng-click="params.page(page.number) " href=" " aria-label="{{params.accessibilityOptions('next')}} ">
                    &raquo;
                </a>
                <span ng-if="!page.active && !page.current" aria-label="{{params.accessibilityOptions('next')}} " aria-disabled="true">&raquo;</span>
            </span>

        </li>
    </ul>
</nav>