<tr class="ng-table-sort-header" role="row">
  <!--
     In an effort to provide accessible tables, if a column is sortable it should be given the aria-sort attribute 
     with a value of 'none', 'ascending', or 'descending'. The child element should have its role set to 'button'
  -->
  <th scope="col" title="{{$column.headerTitle(this)}}" role="columnheader" ng-attr-aria-sort="{{!$column.sortable(this) ? undefined : params.sorting()[$column.sortable(this)]=='asc' ? 'ascending' : params.sorting()[$column.sortable(this)]=='desc' ? 'descending' : 'none'}}"
    ng-repeat="$column in $columns" ng-class="{ 
                    'sortable': $column.sortable(this),
                    'sort-asc': params.sorting()[$column.sortable(this)]=='asc',
                    'sort-desc': params.sorting()[$column.sortable(this)]=='desc'
                  }" ng-init="template = $column.headerTemplateURL(this)" class="header {{$column.class(this)}}" ng-if="$column.show(this)">
    <a role="button" aria-describeby="sortDescription" tabindex="0" ng-if="$column.sortable(this) && (template || $column.title(this))" ng-click="sortBy($column, $event)"
      ng-keydown="($event.key === 'Enter' || $event.key === ' ') && sortBy($column, $event)" class="sort-button">
      <div ng-if="!template" class="ng-table-header" ng-class="{'sort-indicator': params.settings().sortingIndicator == 'div'}">
        <span ng-bind="$column.title(this)" ng-class="{'sort-indicator': params.settings().sortingIndicator == 'span'}"></span>
		<!-- Visually hidden element to be used for aria-describeby for sorting button -->
		<span id="sortDescription" class="hidden">Sort <span ng-if="params.sorting()[$column.sortable(this)]=='asc'">in ascending </span><span ng-if="params.sorting()[$column.sortable(this)]=='desc'">in descending </span>order</span>
      </div>
      <div ng-if="template" ng-include="template"></div>
    </a>
    <!--This header column is used for non-sortable columns.-->
    <div ng-if="!$column.sortable(this) && (template || $column.title(this))">
      <div ng-if="!template" class="ng-table-header">
        <span ng-bind="$column.title(this)"></span>
      </div>
      <div ng-if="template" ng-include="template"></div>
    </div>
  </th>
</tr>