<tr class="ng-table-sort-header">
  <th title="{{$column.headerTitle(this)}}" ng-repeat="$column in $columns" ng-class="{
                    'sortable': $column.sortable(this),
                    'sort-asc': params.sorting()[$column.sortable(this)]=='asc',
                    'sort-desc': params.sorting()[$column.sortable(this)]=='desc'
                  }" ng-if="$column.show(this)" ng-init="template = $column.headerTemplateURL(this)" class="header {{$column.class(this)}}">
    <div ng-if="template || $column.title(this)" ng-click="sortBy($column, $event)">
      <div ng-if="!template" class="ng-table-header" ng-class="{'sort-indicator': params.settings().sortingIndicator == 'div'}">
        <span ng-bind="$column.title(this)" ng-class="{'sort-indicator': params.settings().sortingIndicator == 'span'}"></span>
      </div>
      <div ng-if="template" ng-include="template"></div>
      <button class="asc-desc-container" tabindex="-1">
        <span class="glyphicon glyphicon-triangle-top">
          <span class="sr-only">Asc</span>
        </span>
        <span class="glyphicon glyphicon-triangle-bottom">
          <span class="sr-only">Desc</span>
        </span>
      </button>
    </div>
  </th>
</tr>
