div.pagination.ng-cloak
  ul.pagination
    li(ng-class="{'disabled': !page.active}", ng-repeat='page in pages', ng-switch='page.type')
      a(ng-switch-when='prev', ng-click='goToPage(page.number)', href='') «
      a(ng-switch-when='first', ng-click='goToPage(page.number)', href='') {{page.number}}
      a(ng-switch-when='page', ng-click='goToPage(page.number)', href='') {{page.number}}
      a(ng-switch-when='more', ng-click='goToPage(page.number)', href='') …
      a(ng-switch-when='last', ng-click='goToPage(page.number)', href='') {{page.number}}
      a(ng-switch-when='next', ng-click='goToPage(page.number)', href='') »
  .btn-group.pull-right(ng-show="params.counts.length")
    button.btn.btn-mini(ng-repeat="count in params.counts", type='button', ng-class="{'active':params.count == count}", ng-click='changeCount(count)') {{count}}
