<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <!--[if lt IE 9]>
        <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
        <![endif]-->
        <script src="../bower_components/angular/angular.js"></script>
        <script src="../dist/ng-table.js"></script>
        <link rel="stylesheet" href="../dist/ng-table.css">
    </head>
<body ng-app="main">

<h1>Table with external control of data</h1>

<div ng-controller="DemoCtrl">

		<h2>Dataset: <select ng-model="dataset" ng-options="ds for ds in datasets"></select></h2>

        <table ng-table="tableParams" class="table" show-filter="true">
            <colgroup>
                <col width="50%"/>
                <col width="50%"/>
            </colgroup>
            <tr ng-repeat="user in $data">
                <td data-title="'Name'" sortable="'name'" filter="nameFilter">
                    {{user.name + ' ' + user.surname }}
                </td>
                <td data-title="'Age'" sortable="'age'" filter="{age: 'text'}">
                    {{user.age}}
                </td>
            </tr>
        </table>

        <script>
        var app = angular.module('main', ['ngTable']).

        controller('DemoCtrl', function($interval, $http, $scope, $filter, NgTableParams) {
			$scope.datasets = ["1","2"];
			$scope.dataset = "1";
            var self = this;
            self.data1 = [{"name":"Lee","surname":"Gilmore","age":38},{"name":"Murphy","surname":"Cabrera","age":71},{"name":"Montana","surname":"Austin","age":68},{"name":"Phoebe","surname":"Wells","age":8},{"name":"Abra","surname":"Gay","age":32},{"name":"Brynne","surname":"Conley","age":69},{"name":"Baxter","surname":"Murphy","age":77},{"name":"Hilda","surname":"Nelson","age":39},{"name":"Leila","surname":"Perkins","age":96},{"name":"Micah","surname":"Herring","age":4},{"name":"Jeremy","surname":"Sosa","age":97},{"name":"Orson","surname":"Moore","age":99}];

			self.data2 = {"name":"Vance","surname":"Santana","age":93},{"name":"Jenna","surname":"Castaneda","age":82},{"name":"Tanisha","surname":"Alexander","age":97},{"name":"Guy","surname":"Salazar","age":3},{"name":"Karina","surname":"Buchanan","age":62},{"name":"Josephine","surname":"Clayton","age":53},{"name":"Armand","surname":"Lucas","age":69},{"name":"Seth","surname":"Herring","age":5},{"name":"Clarke","surname":"Horton","age":11},{"name":"Mallory","surname":"Armstrong","age":60},{"name":"Ryan","surname":"Gay","age":12},{"name":"Pamela","surname":"Greer","age":41},{"name":"Christen","surname":"White","age":88},{"name":"Malik","surname":"Ray","age":79},{"name":"Steel","surname":"Foley","age":14},{"name":"Louis","surname":"Diaz","age":12};

            $scope.nameFilter = {
                name: { id: 'text', placeholder: 'First Name' },
                surname: { id: 'text', placeholder: 'Surname' }
            };

			$scope.$watch("dataset", function () {
				$scope.tableParams.settings({ data: self["data" + $scope.dataset]});
			});

            $scope.tableParams = new NgTableParams({
                page: 1,            // show first page
                count: 10,          // count per page
                sorting: {
                    name: 'asc'     // initial sorting,
                }
            }, {
                data: self["data" + $scope.dataset],
                filterOptions: { filterLayout: 'horizontal' }
            });
        })
        </script>
    </div>
    </body>
</html>
