<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!--[if lt IE 9]>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <![endif]-->
    <script src="js/angular.min.js"></script>
    <script src="../dist/ng-table.js"></script>
    <link rel="stylesheet" href="../dist/ng-table.css">
</head>
<body ng-app="main">

<h1>Inline edit example by Maximilian Eberl</h1>

<div ng-controller="DemoCtrl">

    <table ng-table="tableParams" class="table">
        <tbody ng-repeat="p in $data">
        <tr id="tr{{p.id}}" ng-class-odd="'odd'" ng-class-even="'even'">
            <td class="rowTd" data-title="'ID'"          sortable="'id'">{{p.id}}</td>
            <td class="rowTd" data-title="'Firstname'"   sortable="'fn'">{{p.fn}}</td>
            <td class="rowTd" data-title="'Lastname'"    sortable="'ln'">{{p.ln}}</td>
            <td class="rowTd" data-title="'Description'" sortable="'dc'">{{p.dc}}</td>
            <td class="rowTd" data-title="'Email'"       sortable="'em'">{{p.em}}</td>
            <td class="rowTd" data-title="'Phone'"       sortable="'ph'">{{p.ph}}</td>
            <td class="rowTd" ><input type=button id="editRowBtn{{p.id}}" value="edit"
                                      ng-click="setEditId(p.id)"></td>
        </tr>
        <tr ng-show="editId===p.id" ng-if="editId===p.id">
            <td colspan="7" ng-include src="'partials/editRow.html'"></td>
        </tr>
        </tbody>
    </table>


    <script>
        var app = angular.module('main', ['ngTable']).
                controller('DemoCtrl', function($scope, $filter, NgTableParams) {
                    var data = [
                            {
                                "id":1,
                                "lm":138661285100,
                                "ln":"Smith",
                                "fn":"John",
                                "dc":"CEO",
                                "em":"j.smith@company.com",
                                "ph":"617-321-4567",
                                "ac":true,
                                "dl":false
                            }
                            ,
                            {
                                "id":2,
                                "lm":138661285200,
                                "ln":"Taylor",
                                "fn":"Lisa",
                                "dc":"VP of Marketing",
                                "em":"l.taylor@company.com",
                                "ph":"617-522-5588",
                                "ac":true,
                                "dl":false
                            },
                            {
                                "id":3,
                                "lm":138661285300,
                                "ln":"Jones",
                                "fn":"James",
                                "dc":"VP of Sales",
                                "em":"j.jones@company.com",
                                "ph":"617-589-9977",
                                "ac":true,
                                "dl":false
                            },
                            {
                                "id":4,
                                "lm":138661285400,
                                "ln":"Wong",
                                "fn":"Paul",
                                "dc":"VP of Engineering",
                                "em":"p.wong@company.com",
                                "ph":"617-245-9785",
                                "ac":true,
                                "dl":false
                            },
                            {
                                "id":5,
                                "lm":138661285500,
                                "ln":"King",
                                "fn":"Alice",
                                "dc":"Architect",
                                "em":"a.king@company.com",
                                "ph":"617-244-1177",
                                "ac":true,
                                "dl":false
                            },
                            {
                                "id":6,
                                "lm":138661285600,
                                "ln":"Brown",
                                "fn":"Jan",
                                "dc":"Software Engineer",
                                "em":"j.brown@company.com",
                                "ph":"617-568-9863",
                                "ac":true,
                                "dl":false
                            },
                            {
                                "id":7,
                                "lm":138661285700,
                                "ln":"Garcia",
                                "fn":"Ami",
                                "dc":"Software Engineer",
                                "em":"a.garcia@company.com",
                                "ph":"617-327-9966",
                                "ac":true,
                                "dl":false
                            },
                            {
                                "id":8,
                                "lm":138661285800,
                                "ln":"Green",
                                "fn":"Jack",
                                "dc":"Software Engineer",
                                "em":"j.green@company.com",
                                "ph":"617-565-9966",
                                "ac":true,
                                "dl":false
                            },
                            {
                                "id":9,
                                "lm":138661285900,
                                "ln":"Liesen",
                                "fn":"Abraham",
                                "dc":"Plumber",
                                "em":"a.liesen@company.com",
                                "ph":"617-523-4468",
                                "ac":true,
                                "dl":false
                            },
                            {
                                "id":10,
                                "lm":138661286000,
                                "ln":"Bower",
                                "fn":"Angela",
                                "dc":"Product Manager",
                                "em":"a.bower@company.com",
                                "ph":"617-877-3434",
                                "ac":true,
                                "dl":false
                            },
                            {
                                "id":11,
                                "lm":138661286100,
                                "ln":"Davidoff",
                                "fn":"Fjodor",
                                "dc":"Database Admin",
                                "em":"f.davidoff@company.com",
                                "ph":"617-446-9999",
                                "ac":true,
                                "dl":false
                            },
                            {
                                "id":12,
                                "lm":138661286200,
                                "ln":"Vitrovic",
                                "fn":"Biljana",
                                "dc":"Director of Communications",
                                "em":"b.vitrovic@company.com",
                                "ph":"617-111-1111",
                                "ac":true,
                                "dl":false
                            },
                            {
                                "id":13,
                                "lm":138661286300,
                                "ln":"Valet",
                                "fn":"Guillaume",
                                "dc":"Software Engineer",
                                "em":"g.valet@company.com",
                                "ph":"617-565-4412",
                                "ac":true,
                                "dl":false
                            },
                            {
                                "id":14,
                                "lm":138661286400,
                                "ln":"Tran",
                                "fn":"Min",
                                "dc":"Gui Designer",
                                "em":"m.tran@company.com",
                                "ph":"617-866-2554",
                                "ac":true,
                                "dl":false
                            }
                        ];

                    $scope.tableParams = new NgTableParams({
                        page: 1,
                        count: 10
                    },{
                        total: data.length,
                        getData: function($defer, params) {
                            var orderedData = params.sorting()?$filter('orderBy')(data, params.orderBy()):data;
                            $defer.resolve(orderedData.slice((params.page() - 1) * params.count(), params.page() * params.count()));
                        }
                    });

                    $scope.editId = -1;

                    $scope.setEditId =  function(pid) {
                        $scope.editId = pid;
                    }
                })
    </script>

</div>


</body>
</html>
