<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="css/bootstrap.css">
        <script src="js/jquery-1.9.1.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/angular-resource.min.js"></script>
        <script src="js/angular-mocks.js"></script>
        <script src="../ng-table.js"></script>
        <link rel="stylesheet" href="../ng-table.css">
        <style>
        .loading-container {
            position: relative;
        }
        .loading-container .loading:before, .loading-container .loading:after {
            content: " ";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            min-height: 50px;
            min-width: 50px;
        }
        .loading-container .loading:before {
            background-color: white;
            opacity: 0.5;
        }
        </style>
    </head>
<body ng-app="main">

<h1>AJAX Data Loading</h1>

<div ng-controller="DemoCtrl">

    <button ng-click="tableParams.sorting = {}" class="btn pull-right">Clear sorting</button>
    <div class="clearfix"></div>

        <div loading-container="loading">
            <table ng-table="tableParams" show-filter="true" class="table">
                <tr ng-repeat="user in users">
                    <td data-title="'Name'" filter="{ 'name': 'text' }" sortable="name">
                        {{user.name}}
                    </td>
                    <td data-title="'Age'" filter="{ 'action': 'button' }" sortable="age">
                        {{user.age}}
                    </td>
                </tr>
            </table>
        </div>


        <script>
        function isNumber(n) {
            return !isNaN(parseFloat(n)) && isFinite(n);
        }
        var app = angular.module('main', ['ngTable', 'ngResource', 'ngMockE2E']).
            run(function($httpBackend, $filter, $log, ngTableParams) {
                // emulation of api server
                $httpBackend.whenGET(/data.*/).respond(function(method, url, data, headers) {
                    var query = url.split('?')[1],
                        requestParams = {};

                    $log.log('Ajax request: ', url);

                    var vars = query.split('&');
                    for (var i = 0; i < vars.length; i++) {
                        var pair = vars[i].split('=');
                        requestParams[decodeURIComponent(pair[0])] = decodeURIComponent(pair[1]);
                    }
                    // parse url params
                    for (var key in requestParams) {
                        if (key.indexOf('[') >= 0) {
                            var params = key.split(/\[(.*)\]/), value = requestParams[key], lastKey = '';

                            angular.forEach(params.reverse(), function(name) {
                                if (name != '') {
                                    var v = value;
                                    value = {};
                                    value[lastKey = name] = isNumber(v) ? parseFloat(v) : v;
                                }
                            });
                            requestParams[lastKey] = angular.extend(requestParams[lastKey] || {}, value[lastKey]);
                        } else {
                            requestParams[key] = isNumber(requestParams[key]) ? parseFloat(requestParams[key]) : requestParams[key];
                        }
                    }

                    data = [{name: "Moroni", age: 50},
                            {name: "Tiancum", age: 43},
                            {name: "Jacob", age: 27},
                            {name: "Nephi", age: 29},
                            {name: "Enos", age: 34},
                            {name: "Tiancum", age: 43},
                            {name: "Jacob", age: 27},
                            {name: "Nephi", age: 29},
                            {name: "Enos", age: 34},
                            {name: "Tiancum", age: 43},
                            {name: "Jacob", age: 27},
                            {name: "Nephi", age: 29},
                            {name: "Enos", age: 34},
                            {name: "Tiancum", age: 43},
                            {name: "Jacob", age: 27},
                            {name: "Nephi", age: 29},
                            {name: "Enos", age: 34}];

                    var params = new ngTableParams(requestParams);
                    data = params.filter ? $filter('filter')(data, params.filter) : data;
                    data = params.sorting ? $filter('orderBy')(data, params.orderBy()) : data;

                    var total = data.length;
                    data = data.slice((params.page - 1) * params.count, params.page * params.count);

                    return [200, {
                        result: data,
                        total: total
                    }];
                });
                $httpBackend.whenGET(/.*/).passThrough();
            })
            .directive('loadingContainer', function () {
                return {
                    restrict: 'A',
                    scope: false,
                    link: function(scope, element, attrs) {
                        var loadingLayer = $('<div class="loading"></div>').appendTo(element);
                        $(element).addClass('loading-container');
                        scope.$watch(attrs.loadingContainer, function(value) {
                            loadingLayer.toggle(value);
                        });
                    }
                };
            })
        .controller('DemoCtrl', function($scope, $timeout, $resource, ngTableParams) {
            var Api = $resource('/data');

            $scope.tableParams = new ngTableParams({
                page: 1,            // show first page
                total: 0,           // length of data
                count: 10,          // count per page
                sorting: {
                    name: 'asc'     // initial sorting
                }
            });

            $scope.$watch('tableParams', function(params) {
                $scope.loading = true;
                // ajax request to api
                Api.get(params.url(), function(data) {
                    $timeout(function() {
                    $scope.loading = false;
                    // set new data
                    $scope.users = data.result;

                    // update table params
                    $scope.tableParams.total = data.total;
                    }, 500);
                });
            }, true);
        })
        </script>

</div>


    </body>
</html>